/* Add your custom styles here */
.favourite-icon {
    cursor: pointer;
    color: #ccc;
}

.favourite-icon.favourited {
    color: red;
}

body.dark-mode {
    background-color: #121212;
    color: #fff;
}

.dark-mode .bg-light {
    background-color: #333 !important;
}

.dark-mode .card {
    background-color: #222;
    border-color: #444;
}

.dark-mode .navbar-light .navbar-brand,
.dark-mode .navbar-light .nav-link {
    color: #fff;
}

.dark-mode .footer {
    background-color: #333 !important;
    color: #ccc;
}
